################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartFoundation/v18/.suo
/.vs/SmartFoundation/FileContentIndex/79ff4a24-1b25-41ca-8cad-d0a9aa67b89e.vsidx
/.gitignore
/.vs/SmartFoundation/FileContentIndex/a07649ad-e823-4893-9d1b-2ef6ceb8d0bd.vsidx
/.vs/SmartFoundation/FileContentIndex/3a9ba5b7-dd37-4db7-840c-4992fce6da90.vsidx
